services:
  qqmonitor_api:
    image: qqmonitor_api
    build: .
    depends_on:
      qqmonitor_database:
        condition: service_healthy
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      PORT: ${PORT}
      SERVICE_PATH: ${SERVICE_PATH}
      DEFAULT_PASSWORD: ${DEFAULT_PASSWORD}
      FIREBASE_API_KEY: ${FIREBASE_API_KEY}
      TOKEN_API: ${TOKEN_API}
      CORS_ORIGIN: ${CORS_ORIGIN}
    command: ["node", "src/main.js"]


  qqmonitor_database:
    image: postgres:16-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
